::-moz-selection {
  color: inherit;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none; }

::selection {
  color: inherit;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

a:link {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5); }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

a,
button,
input,
select,
textarea {
  outline: none; }

body {
  font-weight: normal;
  background: #353535;
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }
  body div.background-wrap {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }
    body div.background-wrap#landing {
      background-image: url("../images/deadlift-2.jpg"); }
      @media (max-width: 530px) {
        body div.background-wrap#landing {
          background-position: 70% 100%; } }
    body div.background-wrap#blood {
      background-image: url("../images/weightbelt.jpg"); }
    body div.background-wrap.life-landing {
      background-image: url("../images/pullup.jpg");
      background-position: 0 100%; }
      @media (max-width: 530px) {
        body div.background-wrap.life-landing {
          background-position: 10% 100%; } }
      body div.background-wrap.life-landing section.cover div.col-md-12:first-of-type {
        max-width: 850px !important; }
        body div.background-wrap.life-landing section.cover div.col-md-12:first-of-type h2 {
          display: block;
          width: 100%;
          max-width: 620px;
          margin: 0 auto 40px; }
  body section {
    padding: 0;
    background: initial; }
    body section#top-header {
      padding: 30px 0; }
      body section#top-header div.container div.row div.col-md-12 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        body section#top-header div.container div.row div.col-md-12 a.open-home-page-copy {
          line-height: 1;
          width: 250px;
          padding: 0 0 0 20px !important; }
          body section#top-header div.container div.row div.col-md-12 a.open-home-page-copy img.logo {
            width: 100%;
            height: auto; }
          body section#top-header div.container div.row div.col-md-12 a.open-home-page-copy span.logo-phno {
            display: none; }
        body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          width: auto !important;
          list-style-type: none;
          text-align: center !important;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
          @media (max-width: 1200px) {
            body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu {
              position: fixed;
              z-index: 100;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              width: 100%;
              height: 100vh;
              padding: 25px;
              -webkit-transition: all .5s ease;
              transition: all .5s ease;
              -webkit-transform: translateY(-100vh);
                      transform: translateY(-100vh);
              pointer-events: none;
              background: rgba(255, 62, 62, 0.97);
              -webkit-box-align: center;
                  -ms-flex-align: center;
                          -ms-grid-row-align: center;
                      align-items: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu.open {
                -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                pointer-events: initial;
                opacity: 1; } }
          body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu li a {
            font-size: 19px;
            display: block;
            margin: 0 20px;
            padding: 0 2px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            letter-spacing: .02px;
            color: white;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-style: normal;
            font-variant: normal; }
            @media (min-width: 1201px) {
              body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu li a:hover, body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu li a.active {
                border-bottom: 2px solid #ff3e3e; } }
            @media (max-width: 1200px) {
              body section#top-header div.container div.row div.col-md-12 ul#top_nav_menu li a {
                font-size: 6vw;
                padding: 2vh 0; } }
        body section#top-header div.container div.row div.col-md-12 a#open_menu {
          display: none; }
          @media (max-width: 1200px) {
            body section#top-header div.container div.row div.col-md-12 a#open_menu {
              display: block;
              padding: 15px; }
              body section#top-header div.container div.row div.col-md-12 a#open_menu:hover {
                color: white; }
              body section#top-header div.container div.row div.col-md-12 a#open_menu i {
                font-size: 20px;
                display: block;
                height: 17.16px; } }
        body section#top-header div.container div.row div.col-md-12 a#close_menu {
          position: fixed;
          z-index: 101;
          top: 8px;
          right: 12px;
          padding: 15px;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          -webkit-transform: translateY(-100vh);
                  transform: translateY(-100vh);
          pointer-events: none; }
          body section#top-header div.container div.row div.col-md-12 a#close_menu.open {
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
            pointer-events: initial;
            opacity: 1; }
          body section#top-header div.container div.row div.col-md-12 a#close_menu:hover {
            color: white; }
          body section#top-header div.container div.row div.col-md-12 a#close_menu i {
            font-size: 25px;
            display: block; }
    body section.cover {
      padding-top: 290px;
      padding-bottom: 190px; }
      @media (max-width: 768px) {
        body section.cover {
          padding-top: 218px;
          padding-bottom: 143px; } }
      @media (max-width: 500px) {
        body section.cover {
          padding-top: 164px;
          padding-bottom: 107px; } }
      body section.cover div.col-md-12 {
        float: none;
        width: 100%;
        max-width: 800px;
        margin: 0 auto; }
        @media (max-width: 768px) {
          body section.cover div.col-md-12 {
            max-width: 560px; } }
        body section.cover div.col-md-12 h1 {
          font-size: 72px;
          line-height: .97;
          letter-spacing: .8px; }
          @media (max-width: 768px) {
            body section.cover div.col-md-12 h1 {
              font-size: 54px;
              letter-spacing: .6px; } }
        body section.cover div.col-md-12 h2 {
          font-family: Lato, Helvetica, Arial, sans-serif;
          font-size: 28px;
          line-height: 1.25;
          margin-bottom: 20px;
          letter-spacing: .3px; }
          @media (max-width: 768px) {
            body section.cover div.col-md-12 h2 {
              font-size: 21px;
              margin-bottom: 15px;
              letter-spacing: .225px; } }
        body section.cover div.col-md-12 a.btn {
          font-size: 28px;
          font-weight: normal;
          line-height: 1;
          margin-top: 25px;
          padding: 22.5px 45.24px;
          letter-spacing: .3px;
          opacity: 1; }
          @media (max-width: 768px) {
            body section.cover div.col-md-12 a.btn {
              font-size: 21px;
              margin-top: 19px;
              padding: 17px 34px;
              letter-spacing: .225px; } }
        body section.cover div.col-md-12 div.form-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
          background: #3b3c3e;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          body section.cover div.col-md-12 div.form-wrapper div.primary-container {
            width: 100%;
            padding: 30px 40px;
            border-bottom: solid 2px #9b9b9b; }
            @media (max-width: 768px) {
              body section.cover div.col-md-12 div.form-wrapper div.primary-container {
                padding: 23px 30px; } }
            body section.cover div.col-md-12 div.form-wrapper div.primary-container h4 {
              font-size: 48px;
              font-weight: normal;
              line-height: .92;
              letter-spacing: .4px;
              font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
              font-weight: normal;
              font-style: normal;
              font-variant: normal; }
              @media (max-width: 768px) {
                body section.cover div.col-md-12 div.form-wrapper div.primary-container h4 {
                  font-size: 36px;
                  letter-spacing: .3px; } }
            body section.cover div.col-md-12 div.form-wrapper div.primary-container p {
              font-size: 16px;
              line-height: 1;
              margin: 0;
              letter-spacing: .2px; }
              @media (max-width: 768px) {
                body section.cover div.col-md-12 div.form-wrapper div.primary-container p {
                  font-size: 12px;
                  letter-spacing: .15px; } }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container p a {
                text-decoration: underline; }
            body section.cover div.col-md-12 div.form-wrapper div.primary-container form {
              margin-top: 20px; }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form ::-webkit-input-placeholder {
                color: #9b9b9b; }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form :-moz-placeholder {
                color: #9b9b9b; }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form ::-moz-placeholder {
                color: #9b9b9b; }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form :-ms-input-placeholder {
                color: #9b9b9b; }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form input {
                font-size: 24px;
                font-weight: normal;
                line-height: 1;
                height: 50px;
                padding: 12.5px;
                letter-spacing: .3px;
                border: none;
                border-radius: 5px;
                outline: none;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none; }
                @media (max-width: 768px) {
                  body section.cover div.col-md-12 div.form-wrapper div.primary-container form input {
                    font-size: 18px;
                    height: 37.5px;
                    padding: 9.375px;
                    letter-spacing: .225px; } }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form input[type='text'] {
                width: 200px;
                color: #222223;
                background: white; }
                @media (max-width: 768px) {
                  body section.cover div.col-md-12 div.form-wrapper div.primary-container form input[type='text'] {
                    width: 150px; } }
              body section.cover div.col-md-12 div.form-wrapper div.primary-container form input[type='submit'] {
                width: 50px;
                margin-left: 20px;
                background: #ff3e3e; }
                @media (max-width: 768px) {
                  body section.cover div.col-md-12 div.form-wrapper div.primary-container form input[type='submit'] {
                    width: 37.5px;
                    margin-left: 15px; } }
          body section.cover div.col-md-12 div.form-wrapper a.secondary-container {
            display: block;
            width: 50%;
            padding: 10px 45px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease; }
            @media (max-width: 768px) {
              body section.cover div.col-md-12 div.form-wrapper a.secondary-container {
                padding: 10px 34px; } }
            @media (max-width: 450px) {
              body section.cover div.col-md-12 div.form-wrapper a.secondary-container {
                width: 100%;
                padding: 15px; } }
            body section.cover div.col-md-12 div.form-wrapper a.secondary-container:first-of-type {
              border-right: 1px solid #9b9b9b; }
              @media (max-width: 450px) {
                body section.cover div.col-md-12 div.form-wrapper a.secondary-container:first-of-type {
                  border-right: none;
                  border-bottom: 2px solid #9b9b9b; } }
            body section.cover div.col-md-12 div.form-wrapper a.secondary-container:last-of-type {
              border-left: 1px solid #9b9b9b; }
              @media (max-width: 450px) {
                body section.cover div.col-md-12 div.form-wrapper a.secondary-container:last-of-type {
                  border-left: none; } }
            body section.cover div.col-md-12 div.form-wrapper a.secondary-container:hover {
              background: #ff3e3e; }
            body section.cover div.col-md-12 div.form-wrapper a.secondary-container h5 {
              font-size: 24px;
              font-style: normal;
              line-height: 1.13;
              margin: 0;
              letter-spacing: .3px;
              color: white;
              font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
              font-weight: normal;
              font-style: normal;
              font-variant: normal; }
              @media (max-width: 768px) {
                body section.cover div.col-md-12 div.form-wrapper a.secondary-container h5 {
                  font-size: 18px;
                  letter-spacing: .225px; } }
    @media (max-width: 768px) {
      body section#landing_hero {
        padding-top: 218px;
        padding-bottom: 143px; } }
    body section.tiles div.container {
      width: 100%;
      padding: 0; }
      body section.tiles div.container div.row {
        margin: 0; }
        body section.tiles div.container div.row div.col-md-12 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          float: none;
          padding: 0;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch; }
          @media (max-width: 500px) {
            body section.tiles div.container div.row div.col-md-12 {
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
          body section.tiles div.container div.row div.col-md-12 a.tile {
            width: 50%;
            padding: 34px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            text-align: center;
            background: #222223; }
            @media (max-width: 620px) {
              body section.tiles div.container div.row div.col-md-12 a.tile {
                padding: 34px 70px; } }
            @media (max-width: 530px) {
              body section.tiles div.container div.row div.col-md-12 a.tile {
                padding: 34px 60px; } }
            @media (max-width: 500px) {
              body section.tiles div.container div.row div.col-md-12 a.tile {
                width: 100%;
                padding: 34px; } }
            body section.tiles div.container div.row div.col-md-12 a.tile#genome, body section.tiles div.container div.row div.col-md-12 a.tile#emergency {
              display: none; }
            body section.tiles div.container div.row div.col-md-12 a.tile:hover, body section.tiles div.container div.row div.col-md-12 a.tile.active {
              background: #ff3e3e !important; }
              body section.tiles div.container div.row div.col-md-12 a.tile:hover h3, body section.tiles div.container div.row div.col-md-12 a.tile.active h3 {
                color: white; }
            body section.tiles div.container div.row div.col-md-12 a.tile h3 {
              font-size: 30px;
              font-weight: normal;
              line-height: 1.07;
              margin: 0;
              letter-spacing: .3px; }
              @media (max-width: 768px) {
                body section.tiles div.container div.row div.col-md-12 a.tile h3 {
                  font-size: 23px;
                  letter-spacing: .225px; } }
            body section.tiles div.container div.row div.col-md-12 a.tile p {
              font-size: 18px;
              padding-top: 13px;
              letter-spacing: .2px; }
              @media (max-width: 768px) {
                body section.tiles div.container div.row div.col-md-12 a.tile p {
                  font-size: 14px;
                  padding-top: 10px;
                  letter-spacing: .15px; } }
    body section#landing_tiles {
      padding-bottom: 75px; }
      @media (max-width: 768px) {
        body section#landing_tiles {
          padding-bottom: 56px; } }
      body section#landing_tiles div.container {
        width: 100%;
        max-width: 1310px; }
        body section#landing_tiles div.container div.col-md-12 a.tile {
          width: 275px;
          background: #3b3c3e;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
          @media (max-width: 500px) {
            body section#landing_tiles div.container div.col-md-12 a.tile {
              max-width: 350px;
              margin-bottom: 20px; } }
          body section#landing_tiles div.container div.col-md-12 a.tile#blood {
            margin-right: 4.6875%; }
            @media (max-width: 768px) {
              body section#landing_tiles div.container div.col-md-12 a.tile#blood {
                margin-right: 20px; } }
            @media (max-width: 500px) {
              body section#landing_tiles div.container div.col-md-12 a.tile#blood {
                margin-right: 0; } }
          body section#landing_tiles div.container div.col-md-12 a.tile h3 {
            padding-bottom: 15px;
            border-bottom: 2px dotted #9b9b9b; }
            @media (max-width: 768px) {
              body section#landing_tiles div.container div.col-md-12 a.tile h3 {
                padding-bottom: 11px; } }
    body section#needs-calculator div#needsCalculatorErrorMsgId form div.row div.nopad {
      padding: 0; }
      body section#needs-calculator div#needsCalculatorErrorMsgId form div.row div.nopad:first-of-type {
        padding-right: 30px; }
    body section#needs-calculator div#needsCalculatorErrorMsgId form div.inline-text {
      font-size: 16px;
      position: relative;
      display: inline-block;
      padding-bottom: 8px;
      border-bottom: 2px dotted rgba(255, 255, 255, 0.35); }
      body section#needs-calculator div#needsCalculatorErrorMsgId form div.inline-text.required:before {
        top: 17px; }
      body section#needs-calculator div#needsCalculatorErrorMsgId form div.inline-text input {
        font-family: Lato, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-size: 15px;
        font-weight: 700;
        float: right;
        width: 105px;
        padding: 5px 10px;
        text-align: right;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-bottom: 2px dotted rgba(255, 255, 255, 0.35);
        background: rgba(0, 0, 0, 0.25);
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
    body section#recommended.i-know-what-i-need div.container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body section#recommended.i-know-what-i-need div.container:before, body section#recommended.i-know-what-i-need div.container:after {
        display: none; }
      body section#recommended.i-know-what-i-need div.container div.column {
        width: calc(50% - 25px); }
        @media (max-width: 991px) {
          body section#recommended.i-know-what-i-need div.container div.column {
            width: 100%; } }
        body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper {
          padding-top: 10px;
          text-align: center; }
          body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper sup {
            font-size: 48px;
            top: -1em;
            letter-spacing: .5px;
            color: #ff3e3e;
            font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-style: normal;
            font-variant: normal; }
            @media (max-width: 667px) {
              body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper sup {
                font-size: 36px; } }
          body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper span {
            font-size: 120px;
            letter-spacing: 1.3px;
            color: #ff3e3e;
            font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-style: normal;
            font-variant: normal; }
            @media (max-width: 667px) {
              body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper span {
                font-size: 90px; } }
            @media (max-width: 414px) {
              body section#recommended.i-know-what-i-need div.container div.column div.price-wrapper span {
                font-size: 67px; } }
        body section#recommended.i-know-what-i-need div.container div.column div.comparison {
          width: 240px;
          margin: 0 auto; }
          body section#recommended.i-know-what-i-need div.container div.column div.comparison h5 {
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 24px;
            line-height: 1.21;
            text-align: center;
            letter-spacing: .3px;
            color: #9b9b9b; }
            @media (max-width: 667px) {
              body section#recommended.i-know-what-i-need div.container div.column div.comparison h5 {
                font-size: 18px; } }
        body section#recommended.i-know-what-i-need div.container div.column.online {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          @media (max-width: 991px) {
            body section#recommended.i-know-what-i-need div.container div.column.online {
              margin-bottom: 75px; } }
          @media (max-width: 667px) {
            body section#recommended.i-know-what-i-need div.container div.column.online {
              margin-bottom: 56px; } }
          @media (max-width: 991px) {
            body section#recommended.i-know-what-i-need div.container div.column.online h2 {
              height: auto; } }
          body section#recommended.i-know-what-i-need div.container div.column.online div.row {
            width: 100%;
            -webkit-box-flex: 2;
                -ms-flex-positive: 2;
                    flex-grow: 2; }
            body section#recommended.i-know-what-i-need div.container div.column.online div.row div#class_category h3 {
              font-family: Lato, Helvetica, Arial, sans-serif;
              font-size: 36px;
              text-align: center;
              letter-spacing: .4px;
              color: white; }
              @media (max-width: 667px) {
                body section#recommended.i-know-what-i-need div.container div.column.online div.row div#class_category h3 {
                  font-size: 27px; } }
            body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              margin-top: 30px;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between; }
              @media (max-width: 667px) {
                body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term {
                  margin-top: 23px; } }
              body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column {
                width: calc(50% - 10px);
                text-align: center; }
                body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column span {
                  font-family: Lato, Helvetica, Arial, sans-serif;
                  font-size: 24px;
                  line-height: 1;
                  letter-spacing: .3px;
                  color: #9b9b9b; }
                  @media (max-width: 667px) {
                    body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column span {
                      font-size: 18px; } }
                body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column h4 {
                  font-size: 54px;
                  letter-spacing: .6px;
                  color: #ff3e3e;
                  font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                  font-weight: normal;
                  font-style: normal;
                  font-variant: normal; }
                  @media (max-width: 667px) {
                    body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column h4 {
                      font-size: 41px; } }
                  @media (max-width: 400px) {
                    body section#recommended.i-know-what-i-need div.container div.column.online div.row div#coverage_and_term div.column h4 {
                      font-size: 31px; } }
            body section#recommended.i-know-what-i-need div.container div.column.online div.row div#transamerica_logo {
              width: 250px;
              margin: 0 auto; }
              body section#recommended.i-know-what-i-need div.container div.column.online div.row div#transamerica_logo img {
                display: block;
                width: 100%; }
            body section#recommended.i-know-what-i-need div.container div.column.online div.row div#apply_button {
              padding: 35px 0 50px;
              text-align: center; }
              body section#recommended.i-know-what-i-need div.container div.column.online div.row div#apply_button button {
                font-size: 28px;
                display: inline-block;
                width: 150px;
                height: 50px;
                text-align: center;
                letter-spacing: .3px;
                color: white;
                border: none;
                border-radius: 5px;
                outline: none;
                background-color: #ff3e3e;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
                font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none; }
        body section#recommended.i-know-what-i-need div.container div.column.call {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          body section#recommended.i-know-what-i-need div.container div.column.call div.row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            @media (max-width: 667px) {
              body section#recommended.i-know-what-i-need div.container div.column.call div.row {
                margin-bottom: 15px; } }
            body section#recommended.i-know-what-i-need div.container div.column.call div.row:last-of-type {
              margin-bottom: 0; }
            body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column {
              width: calc(50% - 10px); }
              @media (max-width: 414px) {
                body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column {
                  width: 100%;
                  text-align: center; }
                  body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column:first-of-type {
                    margin-bottom: 40px; } }
              body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column h6 {
                font-size: 36px;
                letter-spacing: .4px;
                color: #faf7fc;
                font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-style: normal;
                font-variant: normal; }
                @media (max-width: 667px) {
                  body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column h6 {
                    font-size: 27px; } }
                body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column h6 sup {
                  font-size: 59%;
                  padding-left: 1px; }
              body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column p {
                font-family: 'Lato';
                font-size: 20px;
                line-height: 1.4;
                margin: 0;
                letter-spacing: .2px;
                color: #9b9b9b; }
                @media (max-width: 667px) {
                  body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column p {
                    font-size: 15px; } }
              body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.price-wrapper {
                margin-top: -20px;
                padding-top: 0; }
                body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.price-wrapper span {
                  font-size: 72px; }
                  @media (max-width: 667px) {
                    body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.price-wrapper span {
                      font-size: 54px; } }
                body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.price-wrapper sup {
                  font-size: 24px;
                  top: -1.3em; }
                  @media (max-width: 667px) {
                    body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.price-wrapper sup {
                      font-size: 18px; } }
              body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.comparison {
                width: 100%;
                max-width: 115px; }
                body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.comparison h5 {
                  font-size: 20px; }
                  @media (max-width: 667px) {
                    body section#recommended.i-know-what-i-need div.container div.column.call div.row div.column div.comparison h5 {
                      font-size: 15px;
                      margin: -10px 0 0; } }
        body section#recommended.i-know-what-i-need div.container div.column h2 {
          font-size: 48px;
          line-height: 1.46;
          width: 100%;
          text-align: center;
          letter-spacing: .5px;
          color: white; }
        body section#recommended.i-know-what-i-need div.container div.column div.row {
          padding: 20px;
          background-color: #3b3c3e;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }
          body section#recommended.i-know-what-i-need div.container div.column div.row:before, body section#recommended.i-know-what-i-need div.container div.column div.row:after {
            display: none; }
    body section#range_sliders {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      background: #222223;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body section#range_sliders div.slider-wrapper {
        width: 50%;
        padding: 20px 25px 25px;
        text-align: center; }
        @media (max-width: 729px) {
          body section#range_sliders div.slider-wrapper {
            padding: 15px 20px 20px; } }
        @media (max-width: 503px) {
          body section#range_sliders div.slider-wrapper {
            width: 100%; } }
        body section#range_sliders div.slider-wrapper:first-of-type {
          border-right: 1px solid #3b3c3e; }
          @media (max-width: 503px) {
            body section#range_sliders div.slider-wrapper:first-of-type {
              border-right: none;
              border-bottom: 1px solid #3b3c3e; } }
        body section#range_sliders div.slider-wrapper span.slider-label {
          font-family: 'Lato';
          font-size: 18px;
          letter-spacing: .2px;
          color: #9b9b9b; }
          @media (max-width: 729px) {
            body section#range_sliders div.slider-wrapper span.slider-label {
              font-size: 12px; } }
        body section#range_sliders div.slider-wrapper h4 {
          font-size: 36px;
          letter-spacing: .4px;
          color: white;
          font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
          font-weight: normal;
          font-style: normal;
          font-variant: normal; }
          @media (max-width: 729px) {
            body section#range_sliders div.slider-wrapper h4 {
              font-size: 27px; } }
        body section#range_sliders div.slider-wrapper span.range-slider {
          position: relative;
          display: inline-block;
          overflow: auto;
          box-sizing: border-box;
          width: 100%;
          padding: 12px 0; }
          body section#range_sliders div.slider-wrapper span.range-slider input {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 4px;
            margin: 0;
            opacity: 0;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none; }
            body section#range_sliders div.slider-wrapper span.range-slider input::-webkit-slider-thumb {
              position: relative;
              z-index: 100;
              width: 25px;
              height: 25px;
              border-radius: 100%;
              -webkit-appearance: none;
                      appearance: none; }
              @media (max-width: 729px) {
                body section#range_sliders div.slider-wrapper span.range-slider input::-webkit-slider-thumb {
                  width: 20px;
                  height: 20px; } }
          body section#range_sliders div.slider-wrapper span.range-slider span.slider-container {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 8.5px;
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% - 25px);
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); }
            body section#range_sliders div.slider-wrapper span.range-slider span.slider-container span.bar {
              z-index: 1;
              display: inline-block;
              overflow: hidden;
              width: 100%;
              height: 4px;
              border-radius: 10px;
              background-color: #979797; }
              body section#range_sliders div.slider-wrapper span.range-slider span.slider-container span.bar span {
                display: inline-block;
                float: left;
                width: 0;
                height: 11px;
                background: #ff3e3e; }
            body section#range_sliders div.slider-wrapper span.range-slider span.slider-container span.bar-btn {
              position: absolute;
              z-index: 3;
              top: 50%;
              display: inline-block;
              width: 25px;
              height: 25px;
              margin-left: -9px;
              content: '';
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
              border-radius: 100%;
              background-color: #ff3e3e; }
              @media (max-width: 729px) {
                body section#range_sliders div.slider-wrapper span.range-slider span.slider-container span.bar-btn {
                  width: 20px;
                  height: 20px;
                  margin-left: -6.5px; } }
    body section#calculator-report.i-know-what-i-need div#calculator-demographics form div.inline-text {
      text-align: right;
      border-bottom: 2px dotted rgba(255, 255, 255, 0.35); }
      body section#calculator-report.i-know-what-i-need div#calculator-demographics form div.inline-text.required:before {
        top: 17px; }
      body section#calculator-report.i-know-what-i-need div#calculator-demographics form div.inline-text input {
        font-family: Lato, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 700;
        width: 240px;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 3px 26px 5px 10px;
        vertical-align: middle;
        text-transform: none;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 0;
        background: rgba(0, 0, 0, 0.25);
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
    body section#calculator-report.i-know-what-i-need ul.progress-bar {
      text-align: center; }
      body section#calculator-report.i-know-what-i-need ul.progress-bar li {
        display: inline-block;
        float: none; }
    body section#calculator-report.i-know-what-i-need #disclaimers p {
      font-size: 12px;
      line-height: 20px; }
  body footer {
    background-color: #3b3c3e;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.5); }
    body footer div.container div.row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
      @media (max-width: 1200px) {
        body footer div.container div.row {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      body footer div.container div.row:before, body footer div.container div.row:after {
        display: none !important; }
      body footer div.container div.row div.col-md-6 {
        width: auto; }
        @media (max-width: 1200px) {
          body footer div.container div.row div.col-md-6 {
            width: 100%; } }
        body footer div.container div.row div.col-md-6.text-right {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 300px;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          @media (max-width: 1200px) {
            body footer div.container div.row div.col-md-6.text-right {
              float: none;
              margin-top: 10px;
              text-align: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; } }
          body footer div.container div.row div.col-md-6.text-right a.main_logo {
            display: block;
            width: 200px; }
            body footer div.container div.row div.col-md-6.text-right a.main_logo img {
              width: 100%; }
          body footer div.container div.row div.col-md-6.text-right span {
            font-size: 14px; }
          body footer div.container div.row div.col-md-6.text-right small {
            font-size: 13px; }
          body footer div.container div.row div.col-md-6.text-right a.secondary {
            padding-bottom: 0; }
        body footer div.container div.row div.col-md-6 ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          -webkit-padding-start: 0;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media (max-width: 995px) {
            body footer div.container div.row div.col-md-6 ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column; } }
          body footer div.container div.row div.col-md-6 ul li a {
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent; }
            body footer div.container div.row div.col-md-6 ul li a:hover, body footer div.container div.row div.col-md-6 ul li a.active {
              color: white;
              border-bottom: 1px solid white; }
