$gray: #353535;
$red: #ff3e3a;

body {
    background: $gray;
    div.remodal-wrapper {
        div.remodal {
            width: 100%;
            max-width: 1000px;
            p {
                text-align: left;
                a {
                    color: $red;
                }
            }
            .rg-container {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 1.4;
                margin: 0;
                padding: 1em .5em;
                color: #1a1a1a;
            }
            .rg-header {
                margin-bottom: 1em;
            }
            .rg-hed {
                font-size: 1.4em;
                font-weight: bold;
            }
            .rg-dek {
                font-size: 1em;
            }
            .rg-source-and-credit {
                overflow: hidden;
                width: 100%;
            }
            .rg-source {
                font-size: .75em;
                font-weight: bold;
                float: left;
                margin: 0;
            }
            .rg-source .pre-colon {
                text-transform: uppercase;
            }
            /* table */
            table.rg-table {
                font-size: 1em;
                width: 100%;
                margin-bottom: .5em;
                border-spacing: 0;
                border-collapse: collapse;
            }
            table.rg-table * {
                font: inherit;
                font-size: 100%;
                -moz-box-sizing: border-box;
                     box-sizing: border-box;
                margin: 0;
                padding: 0;
                text-align: left;
                vertical-align: baseline;
                color: #333;
                border: 0;
            }
            table.rg-table thead {
                border-bottom: 1px solid #ddd;
            }
            table.rg-table tr {
                color: #222;
                border-bottom: 1px solid #ddd;
            }
            table.rg-table tr.highlight {
                background: #efefef;
            }
            table.rg-table.zebra tr:nth-child(even) {
                background: #efefef;
            }
            table.rg-table th {
                font-size: .9em;
                font-weight: bold;
                padding: .35em;
            }
            table.rg-table td {
                font-size: .9em;
                padding: .35em;
            }
            table.rg-table .highlight td {
                font-weight: bold;
            }
            /* media queries */
            @media screen and (max-width: 750px) {
                .rg-container {
                    max-width: 600px;
                    margin: 0 auto;
                }
                table.rg-table {
                    display: block;
                    width: 100%;
                }
                table.rg-table thead {
                    display: none;
                }
                table.rg-table tbody {
                    display: block;
                    width: 100%;
                }
                table.rg-table tr,
                table.rg-table th,
                table.rg-table td {
                    display: block;
                    padding: 0;
                }
                table.rg-table tr {
                    margin: 0 0 1em 0;
                    padding: .5em 0;
                    border-bottom: none;
                }
                table.rg-table tr.highlight {
                    background: none;
                }
                table.rg-table.zebra tr:nth-child(even) {
                    background: none;
                }
                table.rg-table.zebra td:nth-child(even) {
                    background: #efefef;
                }
                table.rg-table tr:nth-child(even) {
                    background: none;
                }
                table.rg-table td {
                    padding: .5em 0 .25em 0;
                    text-align: right;
                    border-bottom: 1px dotted #ccc;
                }
                table.rg-table td[data-title]:before {
                    font-size: .95em;
                    font-weight: bold;
                    display: inline-block;
                    float: left;
                    margin-right: .5em;
                    content: attr(data-title) ':A0';
                    content: attr(data-title);
                }
                table.rg-table td:last-child {
                    padding-right: 0;
                    border-bottom: 2px solid #ccc;
                }
                table.rg-table td:empty {
                    display: none;
                }
                table.rg-table .highlight td {
                    background: none;
                }
            }
        }
    }
    section {
        &.main-section {
            padding: 200px 0 50px;
        }
        &#top-header {
            padding: 30px 0;
            div.container {
                div.row {
                    div.col-md-12 {
                        display: flex;

                        justify-content: space-between;
                        align-items: center;
                        a.open-home-page-copy {
                            width: 250px;
                            padding: 0 0 0 20px !important;
                            line-height: 1;
                            img.logo {
                                width: 100%;
                                height: auto;
                            }
                            span.logo-phno {
                                display: none;
                            }
                        }
                        ul#top_nav_menu {
                            display: flex !important;
                            list-style-type: none;

                            align-items: center;
                            justify-content: flex-end;
                            width: auto !important;
                            text-align: center !important;
                            @media (max-width: 1200px) {
                                position: fixed;
                                z-index: 100;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                flex-direction: column;
                                width: 100%;
                                height: 100vh;
                                padding: 25px;
                                transition: all .5s ease;
                                transform: translateY(-100vh);
                                pointer-events: none;
                                background: rgba($red, .97);

                                align-items: center;
                                justify-content: center;
                                &.open {
                                    transform: translateY(0%);
                                    pointer-events: initial;
                                    opacity: 1;
                                }
                            }
                            li {
                                a {
                                    font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                                    font-size: 19px;
                                    display: block;
                                    margin: 0 20px;
                                    padding: 0 2px;
                                    transition: all .3s ease;
                                    letter-spacing: .02px;
                                    color: white;
                                    border-top: 2px solid transparent;
                                    border-bottom: 2px solid transparent;
                                    &:hover,
                                    &.active {
                                        @media (min-width: 1201px) {
                                            border-bottom: 2px solid $red;
                                        }
                                    }
                                    @media (max-width: 1200px) {
                                        font-size: 6vw;
                                        padding: 2vh 0;
                                    }
                                }
                            }
                        }
                        a#open_menu {
                            display: none;
                            @media (max-width: 1200px) {
                                display: block;
                                padding: 15px;
                                &:hover {
                                    color: white;
                                }
                                i {
                                    font-size: 20px;
                                    display: block;
                                    height: 17.16px;
                                }
                            }
                        }
                        a#close_menu {
                            position: fixed;
                            z-index: 101;
                            top: 8px;
                            right: 12px;
                            padding: 15px;
                            transition: all .5s ease;
                            transform: translateY(-100vh);
                            pointer-events: none;
                            &.open {
                                transform: translateY(0%);
                                pointer-events: initial;
                                opacity: 1;
                            }
                            &:hover {
                                color: white;
                            }
                            i {
                                font-size: 25px;
                                display: block;
                            }
                        }
                    }
                }
            }
            #red-banner {
                position: relative;
                margin-top: 25px;
                padding: 10px 0;
                p {
                    font-size: 20px;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    @media (max-width: 1200px) {
                        width: 75%;
                        margin: 0 auto;
                    }
                    @media (max-width: 542px) {
                        font-size: 14px;
                    }
                }
            }
        }
        &#hero {
            background: url('../images/warmup-set.jpg');
            padding-top: 220px;
            padding-bottom: 110px;
            @media (max-width: 710px) {
                // padding-bottom: 60px;
                padding-top: 165px;
                padding-bottom: 83px;
            }
            &.dropdown {
                p {
                    max-width: 675px;
                    margin: 25px 0 13px;
                }
                form#select-coverage-form {
                    display: flex;
                    // flex-wrap: wrap;
                    @media (max-width: 590px) {
                        flex-wrap: wrap;
                    }
                    #hero_select_wrapper {
                        position: relative;
                        float: left;
                        width: 438.383px;
                        margin-top: 15px;
                        padding: 0;
                        @media (max-width: 590px) {
                            width: 100%;
                        }
                        &:after {
                            font-family: FontAwesome;
                            font-size: 30px;
                            position: absolute;
                            top: 45%;
                            right: 17px;
                            content: '\f0d7';
                            transform: translateY(-50%);
                            pointer-events: none;
                            color: #5b5b5b;
                        }
                        select {
                            font-family: 'Lato';
                            font-size: 22px;
                            display: block;
                            width: 100%;
                            padding: 24px 16px;
                            color: black;
                            color: #7a7a7a;
                            border: 0 !important;
                            border-radius: 3px;
                            background: white;

                            appearance: none;
                            @media (max-width: 542px) {
                                font-size: 23px;
                                padding: 14px 12px;
                            }
                        }
                    }
                    div.col-md-4 {
                        &:last-of-type {
                            width: 202px;
                            padding: 0;
                            margin: 15px 0 0 15px;
                            @media (max-width: 590px) {
                                width: 100%;
                                margin: 5px 0 0;
                            }
                        }
                        input.btn {
                            font-family: 'Lato';
                            font-size: 22px;
                            font-weight: bold;
                            margin-left: 0;
                            padding: 25px 56px;
                            color: white;
                            border-radius: 3px;
                            text-shadow: none;
                            @media (max-width: 724px) {
                                clear: both;
                                margin-left: 0;
                            }
                            @media (max-width: 590px) {
                                font-size: 17px;
                                display: block;
                                width: 100%;
                                padding: 18px 0;
                            }
                        }
                    }
                }
            }
            &.i-know-what-i-need {
                text-align: center;
                a.btn {
                    &:first-of-type {
                        font-family: 'Lato';
                        font-size: 22px;
                        font-weight: bold;
                        // margin-right: 24px;
                        margin-left: 0;
                        padding: 24px 50px;
                        color: white;
                        border-radius: 3px;
                        text-shadow: none;
                        @media (max-width: 542px) {
                            font-size: 17px;
                            display: block;
                            // width: 100%;
                            // max-width: 355px;
                            padding: 18px 0;
                        }
                        @media (max-width: 482px) {
                            margin-top: 0;
                            margin-left: 0;
                        }
                    }
                    &:last-of-type {
                        font-family: 'Lato';
                        font-size: 22px;
                        display: block;
                        float: none;
                        clear: both;
                        padding: 0;
                        opacity: 1;
                        border: none;
                        border-radius: 0;
                        background: transparent;
                        box-shadow: none;
                        text-shadow: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.twenty-five-dollars {
                p {
                    max-width: 550px;
                    margin: 25px 0 13px;
                }
                a.btn {
                    font-family: 'Lato';
                    font-size: 22px;
                    font-weight: bold;
                    margin-left: 0;
                    padding: 24px 50px;
                    color: white;
                    border-radius: 3px;
                    text-shadow: none;
                    @media (max-width: 542px) {
                        font-size: 17px;
                        display: block;
                        width: 100%;
                        max-width: 355px;
                        padding: 18px 0;
                    }
                    @media (max-width: 482px) {
                        margin-top: 0;
                        margin-left: 0;
                    }
                }
            }
            h1 {
                font-size: 74px;
                font-weight: bold;
                text-transform: uppercase;
                @media (max-width: 710px) {
                    font-size: 55px;
                }
            }
            p {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                @media (max-width: 710px) {
                    font-size: 18px;
                }
                @media (max-width: 542px) {
                    margin-bottom: 50px;
                }
            }
        }
        &#home-page-copy {
            min-height: inherit;
            padding: 90px 0 50px 0;
            background: $gray;
            div.overlay {
                background: $gray;
            }
            #home-page-copy-container {
                border-right: 2px inset #616161;
                @media (max-width: 1200px) {
                    padding-bottom: 46px;
                    border-right: 0 inset #616161;
                    border-bottom: 2px inset #616161;
                }
                p {
                    font-size: 17px;
                    line-height: 1.2;
                    // padding-bottom: 10px;
                    margin-bottom: 20.4px;
                    padding-right: 10%;
                    @media (max-width: 1000px) {
                        padding: 0;
                    }
                    &.small {
                        font-size: 13px;
                        img {
                            margin-bottom: 5px;
                        }
                    }
                }
                small {
                    padding-right: 10%;
                    display: block;
                    @media (max-width: 1000px) {
                        padding: 0;
                    }
                }
            }
            #home-page-aside-copy-container {
                padding-left: 8%;
                @media (max-width: 1200px) {
                    padding-top: 26px;
                }
                @media (max-width: 1000px) {
                    padding: 0 20px;
                }
                h2 {
                    font-size: 34px;
                    font-weight: bold;
                    line-height: 1.2;
                    text-transform: uppercase;
                    &:nth-of-type(2) {
                        margin-top: 20px;
                    }
                }
                p {
                    font-size: 17px;
                    line-height: 1.2;
                    padding-right: 10%;
                    padding-bottom: 10px;
                    &.small {
                        font-size: 13px;
                    }
                    a {
                        font-weight: bold;
                        display: inline-block;
                        padding-bottom: 2px;
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
        &#needs-calculator {
            div#needsCalculatorErrorMsgId {
                form {
                    div.row {
                        div.nopad {
                            padding: 0;
                            &:first-of-type {
                                padding-right: 30px;
                            }
                        }
                    }
                    div.inline-text {
                        // text-align: right;
                        // border-bottom: 2px dotted rgba(255, 255, 255, .35);
                        display: inline-block;
                        position: relative;
                        font-size: 16px;
                        border-bottom: 2px dotted rgba(255, 255, 255, .35);
                        padding-bottom: 8px;
                        &.required {
                            &:before {
                                top: 17px;
                            }
                        }
                        input {
                            border-bottom: 2px dotted rgba(255, 255, 255, .35);
                            font-size: 16px;
                            text-align: right;
                            width: 105px;
                            border: 1px solid rgba(255,255,255,.25);
                            background: rgba(0,0,0,.25);
                            float: right;
                            padding: 5px 10px;
                            font-family: Lato, Helvetica, Arial, sans-serif;
                            font-size: 15px;
                            font-weight: 700;

                            appearance: none;
                        }
                    }
                }
            }
        }
        &#recommended.i-know-what-i-need {
            div.container {
                position: relative;
                display: flex;

                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                &:before,
                &:after {
                    display: none;
                }
                div.column {
                    width: calc(50% - 25px);
                    @media (max-width: 991px) {
                        width: 100%;
                    }
                    div.price-wrapper {
                        padding-top: 10px;
                        text-align: center;
                        sup {
                            font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                            font-size: 48px;
                            top: -1em;
                            letter-spacing: .5px;
                            color: $red;
                            @media (max-width: 667px) {
                                font-size: 36px;
                            }
                        }
                        span {
                            font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                            font-size: 120px;
                            letter-spacing: 1.3px;
                            color: $red;
                            @media (max-width: 667px) {
                                font-size: 90px;
                            }
                            @media (max-width: 414px) {
                                font-size: 67px;
                            }
                        }
                    }
                    div.comparison {
                        width: 240px;
                        margin: 0 auto;
                        h5 {
                            font-family: Lato, Helvetica, Arial, sans-serif;
                            font-size: 24px;
                            line-height: 1.21;
                            text-align: center;
                            letter-spacing: .3px;
                            color: #9b9b9b;
                            @media (max-width: 667px) {
                                font-size: 18px;
                            }
                        }
                    }
                    &.online {
                        display: flex;
                        flex-direction: column;
                        @media (max-width: 991px) {
                            margin-bottom: 75px;
                        }
                        @media (max-width: 667px) {
                            margin-bottom: 56px;
                        }
                        h2 {
                            // height: 16px;
                            @media (max-width: 991px) {
                                height: auto;
                            }
                        }
                        div.row {
                            width: 100%;

                            flex-grow: 2;
                            div#class_category {
                                h3 {
                                    font-family: Lato, Helvetica, Arial, sans-serif;
                                    font-size: 36px;
                                    text-align: center;
                                    letter-spacing: .4px;
                                    color: white;
                                    @media (max-width: 667px) {
                                        font-size: 27px;
                                    }
                                }
                            }
                            div#coverage_and_term {
                                display: flex;
                                margin-top: 30px;

                                justify-content: space-between;
                                @media (max-width: 667px) {
                                    margin-top: 23px;
                                }
                                div.column {
                                    width: calc(50% - 10px);
                                    text-align: center;
                                    span {
                                        font-family: Lato, Helvetica, Arial, sans-serif;
                                        font-size: 24px;
                                        line-height: 1;
                                        letter-spacing: .3px;
                                        color: #9b9b9b;
                                        @media (max-width: 667px) {
                                            font-size: 18px;
                                        }
                                    }
                                    h4 {
                                        font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                                        font-size: 54px;
                                        letter-spacing: .6px;
                                        color: $red;
                                        @media (max-width: 667px) {
                                            font-size: 41px;
                                        }
                                        @media (max-width: 400px) {
                                            font-size: 31px;
                                        }
                                    }
                                }
                            }
                            div#transamerica_logo {
                                width: 250px;
                                margin: 0 auto;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            div#apply_button {
                                padding: 35px 0 50px;
                                text-align: center;
                                button {
                                    font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                                    font-size: 28px;
                                    display: inline-block;
                                    width: 150px;
                                    height: 50px;
                                    text-align: center;
                                    letter-spacing: .3px;
                                    color: white;
                                    border: none;
                                    border-radius: 5px;
                                    outline: none;
                                    background-color: $red;
                                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);

                                    appearance: none;
                                }
                            }
                        }
                    }
                    &.call {
                        display: flex;
                        flex-direction: column;
                        div.row {
                            display: flex;
                            margin-bottom: 20px;

                            justify-content: space-between;
                            flex-wrap: wrap;
                            @media (max-width: 667px) {
                                margin-bottom: 15px;
                            }
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            div.column {
                                width: calc(50% - 10px);
                                @media (max-width: 414px) {
                                    width: 100%;
                                    text-align: center;
                                    &:first-of-type {
                                        margin-bottom: 40px;
                                    }
                                }
                                h6 {
                                    font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                                    font-size: 36px;
                                    letter-spacing: .4px;
                                    color: #faf7fc;
                                    @media (max-width: 667px) {
                                        font-size: 27px;
                                    }
                                    sup {
                                        font-size: 59%;
                                        padding-left: 1px;
                                    }
                                }
                                p {
                                    font-family: 'Lato';
                                    font-size: 20px;
                                    line-height: 1.4;
                                    margin: 0;
                                    letter-spacing: .2px;
                                    color: #9b9b9b;
                                    @media (max-width: 667px) {
                                        font-size: 15px;
                                    }
                                }
                                div.price-wrapper {
                                    margin-top: -20px;
                                    padding-top: 0;
                                    span {
                                        font-size: 72px;
                                        @media (max-width: 667px) {
                                            font-size: 54px;
                                        }
                                    }
                                    sup {
                                        font-size: 24px;
                                        top: -1.3em;
                                        @media (max-width: 667px) {
                                            font-size: 18px;
                                        }
                                    }
                                }
                                div.comparison {
                                    width: 100%;
                                    max-width: 115px;
                                    h5 {
                                        font-size: 20px;
                                        @media (max-width: 667px) {
                                            font-size: 15px;
                                            margin: -10px 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    h2 {
                        font-size: 48px;
                        line-height: 1.46;
                        width: 100%;
                        text-align: center;
                        letter-spacing: .5px;
                        color: white;
                    }
                    div.row {
                        padding: 20px;
                        background-color: #3b3c3e;
                        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        &#range_sliders {
            display: flex;
            padding: 0;
            background: #222223;

            flex-wrap: wrap;
            div.slider-wrapper {
                width: 50%;
                padding: 20px 25px 25px;
                text-align: center;
                @media (max-width: 729px) {
                    padding: 15px 20px 20px;
                }
                @media (max-width: 503px) {
                    width: 100%;
                }
                &:first-of-type {
                    border-right: 1px solid #3b3c3e;
                    @media (max-width: 503px) {
                        border-right: none;
                        border-bottom: 1px solid #3b3c3e;
                    }
                }
                span.slider-label {
                    font-family: 'Lato';
                    font-size: 18px;
                    letter-spacing: .2px;
                    color: #9b9b9b;
                    @media (max-width: 729px) {
                        font-size: 12px;
                    }
                }
                h4 {
                    font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
                    font-size: 36px;
                    letter-spacing: .4px;
                    color: white;
                    @media (max-width: 729px) {
                        font-size: 27px;
                    }
                }
                span.range-slider {
                    position: relative;
                    display: inline-block;
                    overflow: auto;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 12px 0;
                    input {
                        position: relative;
                        z-index: 5;
                        width: 100%;
                        height: 4px;
                        margin: 0;
                        opacity: 0;

                        appearance: none;
                        &::-webkit-slider-thumb {
                            position: relative;
                            z-index: 100;
                            width: 25px;
                            height: 25px;
                            border-radius: 100%;

                            appearance: none;
                            @media (max-width: 729px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    span.slider-container {
                        position: absolute;
                        z-index: 3;
                        top: 50%;
                        left: 8.5px;
                        display: inline-block;
                        box-sizing: border-box;
                        width: calc(100% - 25px);
                        transform: translateY(-50%);
                        span.bar {
                            z-index: 1;
                            display: inline-block;
                            overflow: hidden;
                            width: 100%;
                            height: 4px;
                            border-radius: 10px;
                            background-color: #979797;
                            span {
                                display: inline-block;
                                float: left;
                                width: 0;
                                height: 11px;
                                background: $red;
                            }
                        }
                        span.bar-btn {
                            position: absolute;
                            z-index: 3;
                            top: 50%;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            margin-left: -9px;
                            content: '';
                            transform: translateY(-50%);
                            border-radius: 100%;
                            background-color: $red;
                            @media (max-width: 729px) {
                                width: 20px;
                                height: 20px;
                                margin-left: -6.5px;
                            }
                        }
                    }
                }
            }
        }
        &#calculator-report.i-know-what-i-need {
            div#calculator-demographics {
                form {
                    div.inline-text {
                        text-align: right;
                        border-bottom: 2px dotted rgba(255, 255, 255, .35);
                        &.required {
                            &:before {
                                top: 17px;
                            }
                        }
                        input {
                            font-family: Lato, Helvetica, Arial, sans-serif;
                            font-size: 15px;
                            font-weight: 700;
                            width: 240px;
                            margin-right: 0;
                            margin-bottom: 10px;
                            padding: 3px 26px 5px 10px;
                            vertical-align: middle;
                            text-transform: none;
                            border: 1px solid rgba(white,.25);
                            border-radius: 0;
                            background: rgba(black, .25);

                            appearance: none;
                        }
                    }
                }
            }
            ul.progress-bar {
                text-align: center;
                li {
                    display: inline-block;
                    float: none;
                }
            }
            #disclaimers {
                p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    footer {
        div.container {
            div.row {
                display: flex;

                justify-content: space-between;
                align-items: center;
                flex-flow: row wrap;
                @media (max-width: 1200px) {
                    justify-content: center;
                }
                &:before,
                &:after {
                    display: none !important;
                }
                div.col-md-6 {
                    width: auto;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                    &.text-right {
                        display: flex;
                        width: 300px;

                        justify-content: flex-end;
                        flex-wrap: wrap;
                        @media (max-width: 1200px) {
                            justify-content: center;
                            margin-top: 10px;
                            float: none;
                            text-align: center;
                        }
                        a.main_logo {
                            display: block;
                            width: 200px;
                            img {
                                width: 100%;
                            }
                        }
                        span {
                            font-size: 14px;
                        }
                        small {
                            font-size: 13px;
                        }
                        a.secondary {
                            padding-bottom: 0;
                        }
                    }
                    ul {
                        display: flex;
                        list-style: none;

                        -webkit-padding-start: 0;
                        justify-content: center;
                        align-items: center;
                        @media (max-width: 995px) {
                            flex-direction: column;
                        }
                        li {
                            a {
                                transition: all .3s ease;
                                border-top: 1px solid transparent;
                                border-bottom: 1px solid transparent;
                                &:hover,
                                &.active {
                                    color: white;
                                    border-bottom: 1px solid white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
