$lightgrey: #9b9b9b;
$grey: #303032;
$midgrey: #3b3c3e;
$darkgrey: #222223;
$textgrey: #4a4a4a;
$red: #ff3e3e;

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }
    :-moz-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    :-ms-input-placeholder {
        @content;
    }
}

@mixin Lato() {
    font-family: Lato, 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@mixin Bebas() {
    font-family: bebas-neue, Helvetica, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

::selection {
    color: inherit;
    background: rgba(black,.5);
    text-shadow: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

a:link {
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(black,.5);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
button,
input,
select,
textarea {
    outline: none;
}

body {
    font-weight: normal;
    background: $midgrey;

    @include Lato();
    // blog styles start here
    &.category-fitness-for-life {
        section#top-header {
            ul#top_nav_menu {
                li {
                    &:nth-of-type(3) {
                        a {
                            @media (min-width: 1201px) {
                                border-bottom: 2px solid $red !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.category-life-prepared {
        section#top-header {
            ul#top_nav_menu {
                li {
                    &:nth-of-type(4) {
                        a {
                            @media (min-width: 1201px) {
                                border-bottom: 2px solid $red !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.error404,
    &.blog,
    &.single,
    &.archive,
    &.search {
        div#body_wrapper {
            div.blog-wrap {
                padding: 150px 0 95px;
                background-image: url('../images/rings.jpg');
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                div.overlay {
                    display: none;
                }
                div.container {
                    padding: 0 35px;
                    @media (max-width: 768px) {
                        padding: 0 15px;
                    }
                    div.row {
                        form#searchform {
                            position: relative;
                            width: 100%;
                            margin-bottom: 45px;
                            @media (max-width: 768px) {
                                margin-bottom: 34px;
                            }
                            &:after {
                                font-family: FontAwesome;
                                font-size: 21px;
                                position: absolute;
                                top: 50%;
                                right: 12.5px;
                                content: '\f002';
                                transform: translateY(-50%);
                                pointer-events: none;
                                color: $darkgrey;
                                @media (max-width: 768px) {
                                    font-size: 15.75px;
                                    right: 9.375px;
                                }
                            }
                            label[for='s'] {
                                display: none;
                            }
                            input#s {
                                font-size: 24px;
                                line-height: 1;
                                width: 100%;
                                height: 50px;
                                padding: 12.5px 45px 12px 12px;
                                letter-spacing: .3px;
                                color: $darkgrey;
                                border: none;
                                border-radius: 5px;
                                outline: none;

                                @include Bebas();
                                appearance: none;
                                @media (max-width: 768px) {
                                    font-size: 18px;
                                    height: 37.5px;
                                    padding: 9.375px 33.75px 9.375px 9.375px;
                                    letter-spacing: .225px;
                                }
                            }
                            input#searchsubmit {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 45px;
                                height: 50px;
                                opacity: 0;
                                background: transparent;
                                @media (max-width: 768px) {
                                    width: 33.75px;
                                    height: 37.5px;
                                }
                            }
                        }
                        div.col-md-8 {
                            @media (max-width: 991px) {
                                margin-bottom: 55px;
                            }
                            h1.category-title {
                                font-size: 64px;
                                line-height: 1.09;
                                margin-top: -14px;
                                padding-bottom: 20px;
                                text-indent: -4px;
                                letter-spacing: .7px;
                                text-transform: capitalize;

                                @include Lato();
                                @media (max-width: 991px) {
                                    margin-top: 0;
                                }
                                @media (max-width: 768px) {
                                    font-size: 48px;
                                    padding-bottom: 15px;
                                    text-indent: -3px;
                                    letter-spacing: .525px;
                                }
                                a {
                                    line-height: inherit;
                                    color: inherit;
                                }
                            }
                            form#searchform {
                                display: none;
                                @media (max-width: 991px) {
                                    display: block;
                                }
                            }
                            article.featured-post {
                                position: relative;
                                img {
                                    font-family: 'object-fit: cover';
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    min-height: 250px;

                                    object-fit: cover;
                                }
                                div.content-wrapper {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    padding: 30px;
                                    @media (max-width: 768px) {
                                        padding: 20px;
                                    }
                                    &:before {
                                        position: absolute;
                                        z-index: 0;
                                        top: 0;
                                        right: 0;
                                        left: 0;
                                        width: 100%;
                                        padding-bottom: 31.6%;
                                        content: '';
                                        background: linear-gradient(to bottom, rgba(black, .4), rgba(#d8d8d8, 0));
                                    }
                                    h2.title {
                                        font-size: 64px;
                                        line-height: .97;
                                        position: relative;
                                        margin: 0;
                                        padding: 0;
                                        letter-spacing: .7px;
                                        color: white;
                                        text-shadow: 0 0 10px rgba(0, 0, 0, .5);

                                        @include Bebas();
                                        @media (max-width: 768px) {
                                            font-size: 48px;
                                            letter-spacing: .525px;
                                            text-shadow: 0 0 7.5px rgba(0, 0, 0, .5);
                                        }
                                        a {
                                            line-height: inherit;
                                            color: inherit;
                                        }
                                    }
                                    div.entry {
                                        position: relative;
                                        display: none;
                                        p {
                                            font-size: 18px;
                                            letter-spacing: .2px;
                                            color: white;

                                            @include Lato();
                                            a {
                                                &.read-more {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    a.btn {
                                        font-size: 24px;
                                        line-height: 1;
                                        position: relative;
                                        width: 150px;
                                        height: 50px;
                                        margin-top: 25px;
                                        padding: 12.5px;
                                        letter-spacing: .3px;
                                        opacity: 1;
                                        border: none;
                                        border-radius: 5px;
                                        outline: none;
                                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

                                        @include Bebas();
                                        appearance: none;
                                        @media (max-width: 768px) {
                                            font-size: 18px;
                                            width: 113px;
                                            height: 37.5px;
                                            margin-top: 19px;
                                            padding: 9.375px;
                                            letter-spacing: .225px;
                                        }
                                    }
                                }
                            }
                            div.other-articles {
                                padding: 30px;
                                background: rgba(white,.8);
                                @media (max-width: 768px) {
                                    padding: 20px;
                                }
                                article.standard-post {
                                    padding-bottom: 30px;
                                    &:last-of-type {
                                        padding-bottom: 0;
                                    }
                                    h2.title {
                                        font-size: 48px;
                                        line-height: .97;
                                        margin: 0;
                                        padding: 0;
                                        letter-spacing: .5px;
                                        color: $textgrey;

                                        @include Bebas();
                                        @media (max-width: 768px) {
                                            font-size: 36px;
                                            letter-spacing: .375px;
                                        }
                                        a {
                                            line-height: inherit;
                                            color: inherit;
                                        }
                                    }
                                    p.publish-details {
                                        font-size: 16px;
                                        margin-bottom: 10px;
                                        letter-spacing: .2px;
                                        color: $textgrey;
                                        @media (max-width: 768px) {
                                            font-size: 12px;
                                            margin-bottom: 7px;
                                            letter-spacing: .15px;
                                        }
                                        a {
                                            color: inherit;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                    div.entry.excerpt {
                                        overflow: auto;
                                        p {
                                            font-size: 18px;
                                            line-height: 1.5556;
                                            letter-spacing: .2px;
                                            color: $textgrey;
                                            @media (max-width: 768px) {
                                                font-size: 14px;
                                                margin: 10px 0 0;
                                                letter-spacing: .15px;
                                            }
                                            @media (max-width: 667px) {
                                                width: 100%;
                                            }
                                            a {
                                                text-decoration: underline;
                                                color: black;
                                                &.read-more {
                                                    text-decoration: none;
                                                    &:hover {
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                        img {
                                            display: block;
                                            float: right;
                                            width: 167px;
                                            height: auto;
                                            margin: 5px 0 15px 15px;
                                            @media (max-width: 667px) {
                                                float: none;
                                                width: 100%;
                                                margin: 5px 0 5px;
                                            }
                                        }
                                    }
                                }
                            }
                            div.wp_pagination {
                                margin: 20px auto 0;
                                text-align: center;
                                span,
                                a {
                                    font-size: 16px;
                                    line-height: 1.2;
                                    display: inline-block;
                                    margin: 5px;
                                    padding: 10px 15px;
                                    transition: all .15s ease-in-out;
                                    text-align: center;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    color: white;
                                    border-radius: 5px;
                                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

                                    @include Bebas();
                                }
                                span {
                                    cursor: default;
                                    user-select: none;
                                    background-color: $red;
                                }
                                .dots {
                                    color: $lightgrey;
                                    background-color: white;
                                }
                                a {
                                    background-color: $lightgrey;
                                    &:hover {
                                        background-color: $textgrey;
                                    }
                                }
                            }
                        }
                        div.col-md-4 {
                            padding-left: 35px;
                            @media (max-width: 1200px) {
                                padding-left: 15px;
                            }
                            form#searchform {
                                display: block;
                                @media (max-width: 991px) {
                                    display: none;
                                }
                            }
                            article.featured-post-old {
                                margin-bottom: 55px;
                                @media (max-width: 768px) {
                                    margin-bottom: 41px;
                                }
                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                                h2.title {
                                    font-size: 36px;
                                    line-height: .97;
                                    margin-bottom: 25px;
                                    letter-spacing: .4px;
                                    color: white;

                                    @include Bebas();
                                    @media (max-width: 768px) {
                                        font-size: 27px;
                                        margin-bottom: 19px;
                                        letter-spacing: .3px;
                                    }
                                    a {
                                        line-height: inherit;
                                        color: inherit;
                                    }
                                }
                                img {
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                }
                                div.entry {
                                    width: 100%;
                                    padding: 20px;
                                    background: $midgrey;
                                    p {
                                        font-size: 16px;
                                        letter-spacing: .2px;
                                        color: $lightgrey;

                                        @include Lato();
                                        @media (max-width: 768px) {
                                            font-size: 14px;
                                            letter-spacing: .15px;
                                        }
                                        a {
                                            text-decoration: underline;
                                            color: white;
                                            &.read-more {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.single,
    &.archive,
    &.search {
        div#body_wrapper {
            div.blog-wrap {
                div.container {
                    div.row {
                        div.col-md-8 {
                            div.other-articles {
                                article.standard-post {
                                    img {
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                        margin: 0 0 20px;
                                    }
                                    h1.title {
                                        font-size: 48px;
                                        line-height: .97;
                                        margin: 0;
                                        padding: 0;
                                        letter-spacing: .5px;
                                        color: $textgrey;

                                        @include Bebas();
                                        @media (max-width: 768px) {
                                            font-size: 36px;
                                            letter-spacing: .375px;
                                        }
                                    }
                                    div.entry {
                                        h1,
                                        h2,
                                        h3,
                                        h4,
                                        h5,
                                        h6 {
                                            line-height: .97;
                                            margin: 0 0 15px;
                                            color: $textgrey;

                                            @include Bebas();
                                        }
                                        h1 {
                                            font-size: 48px;
                                        }
                                        h2 {
                                            font-size: 38px;
                                        }
                                        h3 {
                                            font-size: 29px;
                                        }
                                        h4 {
                                            font-size: 22px;
                                        }
                                        h5 {
                                            font-size: 16px;
                                        }
                                        h6 {
                                            font-size: 12px;
                                        }
                                        p {
                                            font-size: 18px;
                                            line-height: 1.5556;
                                            width: 100%;
                                            margin-bottom: 30px;
                                            letter-spacing: .2px;
                                            color: $textgrey;
                                            &:last-of-type {
                                                margin-bottom: 0;
                                            }
                                            @media (max-width: 768px) {
                                                font-size: 14px;
                                                margin-bottom: 23px;
                                                letter-spacing: .15px;
                                            }
                                        }
                                        address {
                                            font-size: 18px;
                                            width: 100%;
                                            margin-bottom: 30px;
                                            letter-spacing: .2px;
                                            color: $textgrey;
                                            @media (max-width: 768px) {
                                                font-size: 14px;
                                                margin-bottom: 23px;
                                                letter-spacing: .15px;
                                            }
                                        }
                                        ins {
                                            color: white;
                                            background: $red;
                                        }
                                        mark {
                                            background: $lightgrey;
                                        }
                                        code {
                                            color: $red;
                                            background: white;
                                        }
                                        small {
                                            font-size: 70%;
                                            display: inline-block;
                                        }
                                        img {
                                            display: block;
                                            width: auto;
                                            max-width: 100%;
                                            height: auto;
                                            margin: 10px 20px 20px;
                                            &.size-large {
                                                margin: 0;
                                            }
                                            @media (max-width: 768px) {
                                                margin: 8px 15px 15px;
                                            }
                                            @media (max-width: 568px) {
                                                width: 100%;
                                                margin: 0 0 24px;
                                            }
                                        }
                                        table {
                                            font-size: 14px;
                                            line-height: 1.1;
                                            display: block;
                                            margin-bottom: 30px;
                                            color: $textgrey;
                                            background: transparent;
                                            @media (max-width: 768px) {
                                                margin-bottom: 23px;
                                            }
                                            th,
                                            td {
                                                padding: 10px;
                                                border: 1px solid $lightgrey;
                                            }
                                        }
                                        blockquote {
                                            margin-bottom: 30px;
                                            border-left: 5px solid $lightgrey;
                                            @media (max-width: 768px) {
                                                margin-bottom: 23px;
                                            }
                                        }
                                        .wp-caption {
                                            max-width: 100%;
                                            margin: 10px 0 20px;
                                            @media (max-width: 768px) {
                                                margin: 8px 0 15px;
                                            }
                                            @media (max-width: 568px) {
                                                width: 100% !important;
                                                margin: 0 0 24px;
                                            }
                                            img {
                                                width: 100%;
                                                height: auto;
                                                margin: 0;
                                            }
                                            p.wp-caption-text {
                                                font-size: 14px;
                                                line-height: 1.28571428571429;
                                                margin: 5px 0 0;
                                                color: rgba($grey, .75);
                                                @media (max-width: 768px) {
                                                    font-size: 11px;
                                                    margin: 8px 0 0;
                                                }
                                            }
                                        }
                                        .alignleft {
                                            float: left;
                                            margin-left: 0;
                                        }
                                        .alignright {
                                            float: right;
                                            margin-right: 0;
                                        }
                                        .aligncenter {
                                            width: 100% !important;
                                            margin: 0 auto 20px;
                                        }
                                        ul,
                                        ol {
                                            margin-bottom: 30px;
                                            margin-left: 35px;
                                            color: $textgrey;
                                            @media (max-width: 768px) {
                                                margin-bottom: 23px;
                                                margin-left: 26px;
                                            }
                                            li {
                                                font-size: 18px;
                                                line-height: 1.45454545454545;
                                                margin-bottom: 15px;
                                                padding-left: 0;
                                                @media (max-width: 768px) {
                                                    font-size: 14px;
                                                    margin-bottom: 11px;
                                                }
                                            }
                                        }
                                        ol {
                                            li {
                                                margin-left: 20px;
                                                padding-left: 15px;
                                                @media (max-width: 768px) {
                                                    margin-left: 15px;
                                                    padding-left: 11px;
                                                }
                                            }
                                        }
                                        ul {
                                            list-style-type: none;
                                            li {
                                                margin-left: 0;
                                                &:before {
                                                    font-size: 20px;
                                                    position: relative;
                                                    display: block;
                                                    float: left;
                                                    margin-right: 20px;
                                                    content: '\2022';
                                                    @media (max-width: 768px) {
                                                        font-size: 15px;
                                                        margin-right: 15px;
                                                    }
                                                }
                                            }
                                        }
                                        a {
                                            text-decoration: underline;
                                            color: black;
                                        }
                                        sup {
                                            font-size: 12px;
                                            top: .7em !important;
                                            padding: 3px;
                                            color: $red;
                                            @media (max-width: 768px) {
                                                padding: 5px;
                                            }
                                        }
                                        div.footnote_container_prepare {
                                            padding: 15px 0 !important;
                                            p {
                                                border-bottom-color: rgba($grey,.15) !important;
                                                span {
                                                    display: none;
                                                }
                                            }
                                        }
                                        div#footnote_references_container {
                                            table.footnote-reference-container {
                                                margin-bottom: 0;
                                                tbody {
                                                    tr {
                                                        td {
                                                            font-size: 18px;
                                                            line-height: 1.5556;
                                                            padding: 0;
                                                            border: none;
                                                            @media (max-width: 768px) {
                                                                font-size: 14px;
                                                            }
                                                            &.footnote_plugin_index {
                                                                font-size: 13px;
                                                                padding: 0 5px 0 0;
                                                                @media (max-width: 768px) {
                                                                    font-size: 10px;
                                                                }
                                                            }
                                                            &.footnote_plugin_link {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div.tag-links-container {
                                        display: block;
                                        overflow: auto;
                                        margin-top: 15px;
                                        margin-left: -5px;
                                        a.tag-link {
                                            font-size: 14px;
                                            line-height: 1.2;
                                            display: inline-block;
                                            margin: 5px;
                                            padding: 10px 15px;
                                            transition: all .15s ease-in-out;
                                            text-align: center;
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            color: white;
                                            border-radius: 5px;
                                            background: $red;
                                            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);

                                            @include Bebas();
                                        }
                                    }
                                }
                            }
                        }
                        div.col-md-4 {
                            aside {
                                div.rpwwt-widget {
                                    div.recent-posts-widget-with-thumbnails {
                                        ul {
                                            li {
                                                a {
                                                    display: flex;

                                                    flex-wrap: wrap;
                                                    img {
                                                        display: block;
                                                        width: 100%;
                                                        max-width: 100%;
                                                        height: 100%;
                                                        margin: 0;

                                                        order: 2;
                                                    }
                                                    span.rpwwt-post-title {
                                                        font-size: 36px;
                                                        line-height: .97;
                                                        margin-bottom: 25px;
                                                        letter-spacing: .4px;
                                                        color: white;

                                                        order: 1;
                                                        @include Bebas();
                                                        @media (max-width: 768px) {
                                                            font-size: 27px;
                                                            margin-bottom: 19px;
                                                            letter-spacing: .3px;
                                                        }
                                                    }
                                                }
                                                div.rpwwt-post-excerpt {
                                                    font-size: 16px;
                                                    width: 100%;
                                                    padding: 20px;
                                                    letter-spacing: .2px;
                                                    color: $lightgrey;
                                                    background: $midgrey;

                                                    @include Lato();
                                                    @media (max-width: 768px) {
                                                        font-size: 14px;
                                                        letter-spacing: .15px;
                                                    }
                                                    a {
                                                        text-decoration: underline;
                                                        color: white;
                                                        &.read-more {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.error404 {
        div#blog_404 {
            display: flex;
            min-height: calc(100vh - 148px);

            align-items: center;
            @media (max-width: 1200px) {
                min-height: calc(100vh - 186px);
            }
            @media (max-width: 991px) {
                min-height: calc(100vh - 382px);
            }
            div.col-md-8 {
                float: none;
                margin: 0 auto !important;
                text-align: center;
                h1 {
                    font-size: 200px;
                    line-height: 1;
                    margin: 0 0 10px;
                    @media (max-width: 768px) {
                        font-size: 150px;
                    }
                }
                p {
                    font-size: 22px;
                    margin: 0 0 35px;
                    @media (max-width: 768px) {
                        font-size: 17px;
                    }
                }
                a.btn {
                    font-size: 24px;
                    line-height: 1;
                    height: 50px;
                    padding: 12.5px;
                    letter-spacing: .3px;
                    opacity: 1;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

                    @include Bebas();
                    appearance: none;
                    @media (max-width: 768px) {
                        font-size: 18px;
                        height: 37.5px;
                        padding: 9.375px;
                        letter-spacing: .225px;
                    }
                }
            }
        }
    }
    section {
        padding: 0;
        background: transparent;
        &#top-header {
            padding: 30px 0;
            @media (max-width: 768px) {
                padding: 20px 15px;
            }
            div.container {
                @media (max-width: 768px) {
                    margin: 0;
                    padding: 0;
                }
                div.row {
                    @media (max-width: 768px) {
                        margin: 0;
                        padding: 0;
                    }
                    div.col-md-12 {
                        display: flex;
                        overflow: auto;

                        justify-content: space-between;
                        align-items: center;
                        @media (max-width: 768px) {
                            margin: 0;
                            padding: 0;
                        }
                        a.open-home-page-copy {
                            line-height: 1;
                            float: left;
                            width: 250px;
                            padding: 0 0 0 20px !important;
                            @media (max-width: 768px) {
                                width: 200px !important;
                                padding: 0 !important;
                            }
                            img.logo {
                                width: 100%;
                                height: auto;
                            }
                            span.logo-phno {
                                @media (max-width: 768px) {
                                    font-size: 15px;
                                }
                            }
                        }
                        ul#top_nav_menu {
                            display: flex !important;
                            float: right;
                            width: auto !important;
                            list-style-type: none;
                            text-align: center !important;

                            align-items: center;
                            justify-content: flex-end;
                            @media (max-width: 1200px) {
                                position: fixed;
                                z-index: 100;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                flex-direction: column;
                                width: 100%;
                                height: 100vh;
                                padding: 25px;
                                transition: all .5s ease;
                                transform: translateY(-100vh);
                                pointer-events: none;
                                background: rgba($red, .97);

                                align-items: center;
                                justify-content: center;
                                &.open {
                                    transform: translateY(0%);
                                    pointer-events: auto;
                                    opacity: 1;
                                }
                            }
                            li {
                                @media (max-width: 1200px) {
                                    width: 100%;
                                }
                                a {
                                    font-size: 19px;
                                    display: block;
                                    margin: 0 20px;
                                    padding: 0 2px;
                                    transition: all .3s ease;
                                    letter-spacing: .02px;
                                    color: white;
                                    border-top: 2px solid transparent;
                                    border-bottom: 2px solid transparent;

                                    @include Bebas();
                                    &:hover,
                                    &.active {
                                        @media (min-width: 1201px) {
                                            border-bottom: 2px solid $red;
                                        }
                                    }
                                    @media (max-width: 1200px) {
                                        font-size: 6vw;
                                        padding: 2vh 0;
                                    }
                                }
                            }
                        }
                        a#open_menu {
                            display: none;
                            @media (max-width: 1200px) {
                                display: block;
                                float: right;
                                padding: 15px;
                                @media (max-width: 768px) {
                                    margin-right: -15px;
                                }
                                &:hover {
                                    color: white;
                                }
                                i {
                                    font-size: 20px;
                                    display: block;
                                    height: 17.16px;
                                }
                            }
                        }
                        a#close_menu {
                            position: fixed;
                            z-index: 101;
                            top: 17px;
                            right: 0;
                            padding: 15px;
                            transition: all .5s ease;
                            transform: translateY(-100vh);
                            pointer-events: none;
                            &.open {
                                transform: translateY(0%);
                                pointer-events: auto;
                                opacity: 1;
                            }
                            &:hover {
                                color: white;
                            }
                            i {
                                font-size: 25px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        position: relative;
        background-color: $midgrey;
        div.container {
            div.row {
                overflow: auto;
                padding: 0 19px;
                @media (max-width: 1200px) {
                    padding: 0;

                    justify-content: center;
                }
                &:before,
                &:after {
                    display: none !important;
                }
                div.col-md-6 {
                    width: auto;
                    &:first-of-type {
                        margin-top: 25px;
                        @media (max-width: 1200px) {
                            margin-top: 0;
                        }
                    }
                    @media (max-width: 1200px) {
                        float: none;
                        width: 100%;
                    }
                    &.text-right {
                        float: right;
                        width: 300px;
                        margin: 0;
                        @media (max-width: 1200px) {
                            float: none;
                            margin: 0 auto;
                            margin-top: 10px;
                            padding-top: 20px;
                            text-align: center;
                        }
                        a.main_logo {
                            display: block;
                            width: 200px;
                            margin-left: 70px;
                            @media (max-width: 1200px) {
                                margin: 0 auto;
                            }
                            img {
                                width: 100%;
                            }
                        }
                        span {
                            font-size: 14px;
                        }
                        small {
                            font-size: 13px;
                        }
                        a.secondary {
                            padding-bottom: 0;
                        }
                    }
                    ul {
                        display: flex;
                        list-style: none;

                        -webkit-padding-start: 0;
                        justify-content: center;
                        align-items: center;
                        @media (max-width: 995px) {
                            flex-direction: column;
                        }
                        li {
                            &:last-of-type {
                                margin-right: 0;
                            }
                            @media (max-width: 995px) {
                                margin: 0;
                            }
                            a {
                                transition: all .3s ease;
                                border-top: 1px solid transparent;
                                border-bottom: 1px solid transparent;
                                &:hover,
                                &.active {
                                    color: white;
                                    border-bottom: 1px solid white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
